@use '../../../shared/styles/variables' as *;

:host {
  --btn-radius: #{$border-radius-md};
  --btn-font-weight: #{$font-weight-bold};
  --btn-font-size: #{$font-size-xs};

  --btn-primary-bg: #{$main-blue};
  --btn-primary-hover-bg: #{$blue-hover};
  --btn-secondary-bg: #{$white};
}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 36px;
  width: 100%;
  padding: 0 12px;
  border-radius: var(--btn-radius);
  font-weight: var(--btn-font-weight);
  font-size: var(--btn-font-size);
  line-height: 1;
  transition: all 0.2s ease;
  cursor: pointer;

  &--primary {
    background-color: var(--btn-primary-bg);
    color: $white;

    &:hover {
      color: $white !important;
      box-shadow: none !important;
    }

    &:hover:not(:disabled) {
      background-color: var(--btn-primary-hover-bg);
    }
  }

  &--secondary {
    background-color: var(--btn-secondary-bg);

    &:hover {
      color: $text-color !important;
    }

    color: $text-color;
    box-shadow: $button-shadow;
    border-radius: $border-radius-sm;
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid var(--btn-primary-bg);
    color: var(--btn-primary-bg);

    &:hover {
      color: var(--btn-primary-bg) !important;
      border: 1px solid var(--btn-primary-bg) !important;
      box-shadow: none !important;
    }
  }

  &--outlined-gray {
    background-color: transparent;
    border: 1px solid rgba($text-color, 0.2) !important;
    font-weight: $font-weight-regular;

    &:hover {
      background-color: transparent;
      border: 1px solid rgba($text-color, 0.2) !important;
      color: $text-color !important;
      box-shadow: none !important;
    }

    color: $text-color;
  }
}
