$font-primary: 'Daikon', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-md: 1rem;      // 16px
$font-size-lg: 1.125rem;  // 18px
$font-size-xl: 1.25rem;   // 20px
$font-size-xxl: 1.5rem;   // 24px


$white: #FFFFFF;
$black: #161616;


$main-blue: #0068FF;
$dark-blue: #17273F;
$light-blue: #B2DFFF;
$blue-bg: #DCEFFD;
$blue-hover: #0068FF;
$text-color: #515D6F;
$text-secondary: #9EA6B3;

$light-yellow: #FFC805;
$light-orange: #FFA319;
$light-green: #8BD84F;
$light-red: #FF5151;

$dark-grey: #505050;
$grey: #737C89;
$grey-light: #CACBCD;
$table-border: #E8E8E8;
$table-header-bg: #F2F3F6;
$grey-background: #FBFBFB;

$background: #FFFFFF;
$background-secondary: #F1F5F9;
$background-tertiary: #F8FAFC;
$border-light-gray: #F1F5F9;

$modal-shadow: 0px 2px 6px 0px #00000033;
$input-shadow: 0px 1px 4px 0px #00000026;
$button-shadow: 0px 1px 2px 0px #00000026;

$border-radius-none: 0;
$border-radius-xxs: 2px;
$border-radius-xs: 4px;
$border-radius-sm: 5px;
$border-radius-md: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$border-radius-xxl: 16px;
$border-radius-circle: 50%;
